.reactMarkDown p {
    margin-top: 0;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.reactMarkdown h1 {
    margin-top: 0;
}

.reactMarkdown h2 {
    margin-top: 0;
}

.reactMarkdown h3 {
    margin-top: 0;
}
