.icon {    
    margin-left: 15px;
    font-size: 2em;
    vertical-align: middle;
    display: inline-block;
}

.clickable {
    cursor: pointer;
}

.not-clickable {
    color: grey;
}

.inline-dropdown {
    vertical-align: middle;
    display: inline-block;
}