boto3<=1.26.34
cloudpickle<=2.2.0
google-cloud-storage<=2.7.0
numpy<=1.24.2
pandas<=1.5.2
pydantic<=1.10.2
SQLAlchemy<2.0.0
distro<=1.8.0
pyyaml<=6.0
typing_extensions>=4.3.0,<=4.4.0
Pillow<=9.4.0
packaging<=23.0
pymongo<=4.3.3
