.menu-sidebar {
  max-width: 64px;
  width: 64px;
  height: 98%;
  max-height: 100vh;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  background-color: #002f5e; /* theme.colors.blue900 */
  position: fixed;
  z-index: 1;
}

.menu-sidebar-links {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: '100%';
}

.menu-sidebar-links-wrapper {
  flex-grow: 1;
  height: 100%;
}

.menu-sidebar-link {
  /* this is fixed to 225 - 13 - 13, the sidebar width with padding-X removed */
  min-width: 64px;
  width: 64px;
  max-width: 64px;
}

.menu-sidebar-icon {
  /* All icons in sidebar button are fixed to 24. */
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
}

.user-avatar img {
  width: 24px;
  height: 24px;
  max-width: 24px;
  max-height: 24px;
  border-radius: 99999px;
}

.notification-alert {
  display: flex;
  background-color: #d14343; /* red500 */
  /* All icons in sidebar button are fixed to 24 */
  min-width: 24px;
  width: 24px;
  max-width: 24px;
  height: 24px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}
