.menu-sidebar {
  max-width: 80px;
  width: 80px;
  height: 100%;
  max-height: 100vh;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  background-color: #002f5e; /* theme.colors.blue900 */
  position: fixed;
  z-index: 1;
}

.menu-sidebar-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: '100%';
  padding-left: 8px;
  padding-right: 8px;
}

.menu-sidebar-footer {
  display: flex;
  flex-direction: column;
  width: '100%';
  padding-left: 8px;
  padding-right: 8px;
}

.menu-sidebar-links-wrapper {
  flex-grow: 1;
  height: 100%;
}

.menu-sidebar-link {
  /* this is fixed to 225 - 13 - 13, the sidebar width with padding-X removed */
  min-width: 64px;
  width: 64px;
  max-width: 64px;
}

.menu-sidebar-logo-link {
  /* contains logo of size 48px */
  width: 48px;
  height: 48px;
  /* ensures border width is 80px, which maps sidebar */
  padding-left: 16px;
  padding-right: 16px;

  /* ensures height is 64px, which maps navbar */
  padding-top: 8px;
  padding-bottom: 6px;
  border-bottom: 2px solid #E6E8F0; /* gray.300 */
}

.menu-sidebar-icon {
  /* All icons in sidebar button are fixed to 24. */
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
}

.navbar-icon {
  /* All icons in sidebar button are fixed to 24. */
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  color: #002f5e; /* blue900 */
}

.user-avatar img {
  width: 24px;
  height: 24px;
  max-width: 24px;
  max-height: 24px;
  border-radius: 99999px;
}