.menu-sidebar {
    max-width: 200px;
    width: 200px;
    height: 100%;
    min-height: 100vh;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 13px;
    padding-right: 13px;
    display: flex;
    flex-direction: column;
    background-color: #002F5E; /* theme.colors.blue900 */
    position: fixed;
    z-index: 1;
}

.menu-sidebar-popover-container {
    width: 100%;
    margin-bottom: 4px;
}

.menu-sidebar-links {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: '100%';
}

.menu-sidebar-links-wrapper {
    flex-grow: 1;
    height: 100%;
}

.menu-sidebar-link {
    /* this is fixed to 225 - 13 - 13, the sidebar width with padding-X removed */
    min-width: 199px;
    width: 199px;
    max-width: 199px;
}

.menu-sidebar-icon {
    /* All icons in sidebar button are fixed to 24. */
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
    /* Margin between icon and text */
    margin-right: 14px;
}

.user-avatar img {
    width: 24px;
    height: 24px;
    max-width: 24px;
    max-height: 24px;
    border-radius: 99999px;
}

.notification-alert {
    display: flex;
    background-color: #D14343; /* red500 */
    /* All icons in sidebar button are fixed to 24 */
    min-width: 24px;
    width: 24px;
    max-width: 24px;
    height: 24px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}
