# Base Dependencies
boto3==1.18.0
pandas==1.3.0
SQLAlchemy==1.4.30

# Connector Engines
psycopg2-binary==2.8.6
snowflake-sqlalchemy==1.3.3
mysqlclient==2.1.0
pyodbc==4.0.32
pandas-gbq==0.17.0
google-auth==2.6.0
pygsheets==2.0.5

# Testing Dependencies
pytest-dependency==0.5.1