name: Mypy

on:
  pull_request:
    paths:
      - 'sdk/aqueduct/**'
      - 'src/python/**'

jobs:
  sdk:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10']

    name: Mypy SDK
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: |
          python3 -m pip install mypy==1.0.0 pydantic pymongo

      - name: Install Type Stub Libraries
        run: |
          python3 -m pip install types-croniter types-requests types-PyYAML types-setuptools types-PyMySQL

      - name: mypy sdk
        working-directory: sdk
        run: |
          mypy aqueduct --ignore-missing-imports --strict --implicit-reexport --exclude tests

  executor:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10']

    name: Mypy Executor
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: |
          python3 -m pip install mypy pydantic pymongo

      - name: Install Type Stub Libraries
        run: |
          python3 -m pip install types-croniter types-requests types-PyYAML types-setuptools types-PyMySQL

      - name: mypy executor
        working-directory: src/python
        run: |
          mypy aqueduct_executor --ignore-missing-imports --strict --implicit-reexport --exclude tests
